<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classical</key>
	<false/>
	<key>country</key>
	<false/>
	<key>electronic</key>
	<false/>
	<key>explicit</key>
	<false/>
	<key>instrumental</key>
	<false/>
	<key>jazz</key>
	<false/>
	<key>rock/pop</key>
	<false/>
	<key>songs</key>
	<array/>
	<key>urban</key>
	<false/>
	<key>vocal</key>
	<false/>
</dict>
</plist>
